body {
    font-family: Arial, sans-serif;
    background: #0f2027;
    background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
    color: white;
    text-align: center;
    padding: 50px;
}
button {
    padding: 15px 25px;
    font-size: 18px;
    background: #ff9800;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s;
}
button:hover {
    background: #e68900;
}
